@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:300,400,600,700|Teko&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    margin: 0;
    background-color: #f8f6f6;
}

.main {
    margin: 1vw;
    width: 320px;
    border: 2px solid black;
}

/* Header */

.header {
    position: relative;
    margin: 20px;
}

#wish-icon {
  position: fixed;
  top: 0;
  left: 0;
}

.heading {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 600;
    margin-left: 60px;
}

.num-jobs {
    margin-left: 100px;
    font-weight: 300;
    font-size: 15px;
}

.add-btn {
    padding: 6px 80px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    width: 95%;
    font-size: 18px;
}

/* Job Container */

.card {
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

.company-logo {
    font-size: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.card> span {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.card> h4 {
    margin-left: 50px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

#delete-card {
   position: absolute;
   top: 10px;
   left: 275px;
   font-size: 16px;
   padding: 8px;
   border: 1px solid #cccccc;
   border-radius: 50%;
   opacity: 0;
}

#delete-card:hover {
    opacity: 1;
    cursor: pointer;
}

/* Modal */

.modal-bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(248,246,246,0.5);
   display: flex;
   justify-content: center;
   visibility: hidden;
   opacity: 0;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: white;
    width: 350px;
    height: 350px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.modal > h2 {
    align-self: center;
    margin: 40px 0;
}

.job-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#search-icon {
    position: absolute;
    top: 17px;
    left: 270px;
    color: #b9b8b8;
}

#job-icon {
    position: absolute;
    top: 97px;
    left: 270px;
    color: #b9b8b8;
}

.job-form > input, .job-form > button {
    margin-bottom: 30px;
    width: 70%;
    padding: 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.job-form > input {
    border: 1px solid #cccccc;
    border-radius: 5px;    
}

.job-form > button {
    border-radius: 10px;
    cursor: pointer;
}